*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face{
    font-family: 'gotham';
    src: url(../assets/fonts/GothamLight.ttf) format('truetype') ;
    font-weight: 100;

}
.section-1{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/magazine/magazine.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
   
}
.navbar-brand img{
    width: 177px;
}
.nav-link{
    color: seashell;
    padding: 50px;
}
.nav-link:hover{
    text-decoration: underline;
    color: seashell;
}
.main-container{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.main-container h1{
    color:#fff;
    font-size: calc(26px + 4.2vw);
    line-height: calc(14px + 4.2vw);
    font-family: 'PT serif', serif;
    transform: translateX(12vw);
    
}
.main-container h1 span{
    font-family: 'gotham';

}
.scroll{
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 40px;
    margin-bottom: 5em;
}
.scroll p {
    font-family: 'gotham';
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.main-container p{
    color: seashell;
    text-align: start;
    font-size: 4rem;
    padding-left:21%;
    font-family: unset;
    font-weight: lighter;
    letter-spacing: 6px;
}
.scroll button{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 30px;
    transform: translateY();
}
.scroll button svg{
    fill: #fff;
    transform: rotate(90deg);
}
/************/
.section-2 {
    background-color: #f3f3f3;
    padding: 10% 0;
    padding-bottom: 1%;
    margin-bottom: -4%;
}

.sec2-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 50%;
    margin: auto;
    margin-bottom: 10%;
}

.img-magazine {
    position: relative;
    width: 400px;
    height: 500px;
}

.left-img {
    order: 1;
    right: 120px;
    bottom: 60px;
}

.right-img {
    order: 2;
    right: -140px;
    bottom: 60px;
}

.left-content-box, .right-content-box {
    padding: 10% 7%;
}

.left-content-box{
    order: 1;
    padding-left: 13%;
}

.right-content{
    order: 2;
    margin: 9%;
}

.pressbar {
    color: #3b3b3b;
    background-color: #fff;
    border: 1px solid #3b3b3b;
    padding:5% 20%;
}

.pressbar:hover {
    background-color: #e9e9e9b6;
}

.vol-tag {
    color: #969696;
    font-family: 'Public Sans', sans-serif;
    font-weight: 600;
}

.sec2-head2 {
    padding: 10% 0;
}
.sec2-head{
    font-family: 'PT serif',serif;
    font-size: 30px;
}
/***hamburgermenu**/
.inner-pages{
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: 1s;
    transform: translateY(-100%);
}
.inner-pages.active{
    transform: translateY(0%);
}
.inner-pages nav img{
    width: 32px;

}
.inner-pages ul li{
    font-family: 'PT serif',serif;
    font-size: 48px;
    color: #fff;
    list-style-type: none;
    text-align: center;
}
.inner-pages nav{
    color: #fff;
    padding: 30px 0;
    position: absolute;
    width:100%;
    left: 0;
    right: 0;

}
.inner-pages .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
.inner-pages .list a{
    text-decoration: none;
    color: #fff;
}
.inner-pages .list a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.inner-pages .list a:visited{
    color: #fff;
    text-decoration: none;
}

.close-menu{
    cursor: pointer;
}
.menu-icon{
    width: 18px;
    height: 14px;
    position: relative;
    margin-top: 7px;
}
.menu-icon span{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.menu-icon span:before{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #fff;
}
.menu-icon span:after{
    content: '';
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: -5px;
    right: 0;
    background-color: #fff;
} 
/***** footer  *****/
.footer{
    background-color: #161f1e;
    padding: 10% 0;
}
.lastSection{
    display: flex;
    justify-content: space-around;

}
.lastSection ul{
    padding: 0;
}
.lastSection ul li{
    color: #fff;
    list-style: none;

}
.logo-img{
    width:52px;
}
.footer p{
    color: rgba(255, 255, 255, 0.575);
}

