<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discovery Land Company</title>
    <link rel="icon" href="../assets/favicon-16x16.png" type="image/png" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/about.css" />
</head>

<body>
    <nav class="navbar  fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="../pages/home.html"><img src="../assets/logo.svg" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html">About DLC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/ourWorlds.html">Our World</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/experiences.html">Experiences</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../pages/gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/press.html">Press</a></li>
                    <li class="nav-item">
                        <a class="nav-link menubar" href="#">
                            <div class="menu-icon"><span></span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="section-1">
        <div class=" container main-container">
            <h1>Creating your <br /><span>perfect world</span> </h1>
        </div>
        <div class="container position-relative">
            <div class="scroll">
                <p>Scroll to explore</p>
                <button><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 107.8 35.7" style="enable-background:new 0 0 107.8 35.7;"
                        xml:space="preserve">
                        <polygon points="107.8,17.8 81.1,0 81.1,14.2 0,14.2 0,21.5 81.1,21.5 81.1,35.7 "></polygon>
                    </svg></button>
            </div>
        </div>


    </section>
    <section class="section-2">
        <div class="section2-content">
            <div class="col-md-8 offset-md-2">
                <p class="para-1">
                    Founded in 1994 by Mike Meldman, Discovery Land Company is a US-based real estate developer and
                    operator
                    of private residential club communities and resorts with a world-renowned portfolio of domestic and
                    international properties.
                </p>
            </div>
        </div>
        <div class="container content2">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="main-content">
                        <h1 class="s2-head">Our Missions</h1>
                        <p class="s2-para">We don’t build buildings, but rather we build settings where families can
                            create
                            intergenerational
                            memories and enrich their lives in exquisite and untouched sanctuaries. Everything we do is
                            driven by
                            the fundamental desire to create spaces where families can be together.</p>
                        <p class="s2-para">These settings offer a relaxed and comfortable sense of community featuring
                            outstanding
                            clubhouses,
                            incredible residential offerings, premier golf courses, welcoming staff, world-class
                            culinary
                            offerings
                            and our custom Outdoor Pursuits program; all offering the highest of service standards to
                            enrich
                            your
                            experience. </p>

                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <figure class="figure">
                        <img src="../assets/about_page/aboutpage-img1.jpg" class="figure-img img-fluid rounded"
                            alt="...">

                    </figure>
                </div>
            </div>
    </section>
    <section class="section-3">
        <div class="sec3-bg">
            <img src="../assets/about_page/about-sec-3.jpg" alt="">
        </div>
    </section>
    <section class="section-4">
        <div class="container">
            <h1 class="s2-head">The Discovery Difference</h1>
        </div>
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../assets/Our_worlds/Bakers-hero.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../assets/Our_worlds/chileno_landscape_.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../assets/Our_worlds/driftwood.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../assets/Our_worlds/cordevalle2-carousel.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../assets/Our_worlds/vaquero-carousel.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../assets/Our_worlds/eld3-carousel.jpg" alt=""></div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </section>
    <section class="section-5">
        <div class="container content2">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- <figure class="figure "> figure-img img-fluid rounded -->
                    <img src="../assets/about_page/about sec6-img.jpg" class="figure-sec-5" alt="...">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <h1 class="s5-head">Discovery Design</h1>
                        <p class="s5-para">See the beauty in every corner of your new, bespoke home away from home. From
                            fabrics and
                            furniture pieces to floorplans, our professional designers will collaborate closely with you
                            to
                            create an interior living space which reflects your style and unique tastes as well as
                            perfectly
                            complementing your lifestyle.</p>
                    </div>
                    <div class="row">
                        <img class="sec5-bottom-img " src="../assets/about_page/about-sec6-img2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-3">
        <img class="img-fluid" src="../assets/about_page/GolfClubHouse.jpg" alt="">
    </section>
    <section class="section-6">

        <div class="container content2">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <h1 class="s5-head">Discovery Builders</h1>
                        <p class="s5-para"> Every Discovery property is wonderfully in-tune with its natural
                            surroundings - a harmonious
                            blend of the architecturally impressive with the environmentally sensitive. And your every
                            expectation will be met, with our meticulous eye for detail matching outstanding levels of
                            craftsmanship and master building.</p>
                    </div>
                    <div class="row">
                        <img class="sec5-bottom-img" src="../assets/about_page/aboutsec7-bottom.jpg" alt="">
                    </div>



                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- <figure class="figure"> -->
                    <img src="../assets/about_page/aboutsec7-top.jpg" class="figure-sec-5" alt="...">

                    </figure>



                </div>
            </div>
    </section>
    <section class="section-7 d-flex align-items-center flex-column justify-content-center">
        <h3>Our World </h3>
        <a href="../pages/ourWorlds.html">Explore</a>
    </section>
    <footer class="footer">
        <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img  src="../assets/home_page/logo_symbol.svg" class="logo-img">
            </div>
            <div class="col-md-6">
                <div class="lastSection">
                    <ul>
                        <li class="details get-in">GET IN TOUCH</li>
                        <li class="details">(480)624-5200</li>
                        <li class="details">mail@discoverylandco.com</li>
                    </ul>
                    <ul>
                        <li class="lastSec-centre">About DLC</li>
                        <li class="lastSec-centre">Our Worlds</li>
                        <li class="lastSec-centre">Experiences</li>
                        <li class="lastSec-centre">Gallery</li>
                        <li class="lastSec-centre">Press</li>
                    </ul>
                
                    <ul>
                        <li class="menu-list">Magazine</li>
                        <li class="menu-list">Careers</li>
                        <li class="menu-list">Foundation</li>
                        <li class="menu-list">Company</li>
                        <li class="menu-list">Contact</li>
                        <li class="menu-list">Privacy</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <p>&copy;Discovery Land Company. All rights reserved.</p>
        </div>
        </div>
        
    </footer>
    <!---inner pages menubar    -->
    <div class="inner-pages ">
        <div class="container position-relative">
           <nav class="d-flex justify-content-between align-items-center">
               <img src="../assets/home_page/logo_symbol.svg" alt="">
                    <div class="close-menu">
                        X
                    </div>
            </nav>
            <ul class="list">
                <li><span> <a class="" href="">Magazines</a></span></li>
                <li> <a class="" href="">Company</a></li>
                <li> <a class="" href="">Foundation</a></li>
                <li> <a class="" href="../pages/career.html">Career</a></li>
                <li> <a class="" href="">Contact</a></li>
            </ul>
            </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" ></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/script.js"></script>

</body>

</html>