<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discovery Land Company</title>
    <link rel="icon" href="../assets/favicon-16x16.png" type="image/png" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/about.css" />
</head>

<body>
    <nav class="navbar  fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="../pages/home.html"><img src="../assets/logo.svg" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html">About DLC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/ourWorlds.html">Our World</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/experiences.html">Experiences</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../pages/gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/press.html">Press</a></li>
                    <li class="nav-item">
                        <a class="nav-link menubar" href="#">
                            <div class="menu-icon"><span></span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="section-1">
        <div class=" container main-container">
            <h1>Creating your <br /><span>perfect world</span> </h1>
        </div>
        <div class="container position-relative">
            <div class="scroll">
                <p>Scroll to explore</p>
                <button><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 107.8 35.7" style="enable-background:new 0 0 107.8 35.7;"
                        xml:space="preserve">
                        <polygon points="107.8,17.8 81.1,0 81.1,14.2 0,14.2 0,21.5 81.1,21.5 81.1,35.7 "></polygon>
                    </svg></button>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="section2-content">
            <div class="col-md-8 offset-md-2">
                <p class="para-1">
                    Founded in 1994 by Mike Meldman, Discovery Land Company is a US-based real estate developer and
                    operator
                    of private residential club communities and resorts with a world-renowned portfolio of domestic and
                    international properties.
                </p>
            </div>
        </div>