<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discovery Land Company</title>
    <link rel="icon" href="../assets/favicon-16x16.png" type="image/png" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/press.css" />
</head>

<body>
    <nav class="navbar  fixed-top navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../assets/logo.svg" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/about.html">About DLC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/ourWorlds.html">Our World</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/experiences.html">Experiences</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="../pages/gallery.html">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link" href="../pages/press.html">Press</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">-menubar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="section-1">
        <div class=" container main-container">
            <h1>News <br /><span>and Press</span> </h1>
        </div>
        <div class="container position-relative">
            <div class="scroll">
                <p>Scroll to explore</p>
                <button><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" y="0px" viewBox="0 0 107.8 35.7" style="enable-background:new 0 0 107.8 35.7;"
                        xml:space="preserve">
                        <polygon points="107.8,17.8 81.1,0 81.1,14.2 0,14.2 0,21.5 81.1,21.5 81.1,35.7 "></polygon>
                    </svg></button>
            </div>
        </div>
    <section class="section-2">
        <div class="fst-head">
             <h1 class="first-heading">Latest News</h1></div>
        <img src="../assets/press/northShore.jpg" alt="" class="sec2-img">
        <div class="box">
            <p class="sec2-title">News</p>
            <h1 class="sec2-heading">Discovery’s newest property in Kaua’i North Shore Preserve</h1>
            <p class="sec2-para"> Discovery Land Company is excited to announce our 25th residential club community on the majestic North Shore of Kaua’i. North Shore Preserve,
                 a one-of-a-kind residential community, spans one thousand acres at the base of the mountains in the pastoral Hanalei valley. This newly re-imagined, low-density project
                  is a secluded and peaceful island oasis with limited initial homesite and hale offerings.</p>
                  <a class="sec2-a" href="">Read article</a>
        </div>
    </section>
    <section class="section-3">
        <h1 class=" sec3-title">Press</h1>
        <div>
            <div class="row sec3-content ">
                <div class="col-lg-6 sec3-col left-para">
                    <p class="sec3-para"> Mike Meldman is one of the most influential real-estate moguls in the country thanks to his luxurious live-in resorts, which became irresistible to the rich and famous during the pandemic<br>
                        <b>Business Insider | June 4, 2021</b>
                    </p><a class="sec3-a" href="">Read article</a>
                </div>
                <div class="col-lg-6 sec3-col right-para">
                    <p class="sec3-para">There's a real buy-in for resort communities offering amusement and amenities<br>
                        <b>Luxury Magazine | Spring/Summer 2021</b>
                    </p><a class="sec3-a" href="">Read article</a>
                </div>
                <div class="col-lg-6 sec3-cols left-para">
                    <p class="sec3-para ">How Discovery Land Company's Mike Meldman Develops the World's Most Exclusive Private Clubs and Resort Communities <br>
                        <b>CSQ | June 17, 2020</b>
                    </p><a class="sec3-a" href="">Read article</a></div>
                <div class="col-lg-6 sec3-col right-para">
                    <p class="sec3-para">U.S. Golf Communities for the Love of the Game (Yellowstone Club and Madison Club)<br>
                        <b>Mansion Global | April 23, 2020</b>
                    </p><a class="sec3-a" href="">Read article</a>
                </div>
            </div>
        </div>
        <div class="sec2-btn">
            <p class="arrow">←</p>
            <p class="sec2-pages">1 - 4</p>
            <p class="arrow">→</p>
        </div>
    </section>